In [1]:
from modules.symbols_remove import replaceCharacters
from modules.audio_file_load import processingDataFrame

In [2]:
df_obj = processingDataFrame()

In [3]:
df = df_obj.get_dataFrame()

In [4]:
df.head()

,_id,userId,fileName,gender,devnagariSentence
0,60e2d811552fd6002e30b8fd,L5WMnUqwFRlZUFg48A4DRu9dYwP9srB5s2cqsA/rDZg=,dd42d217-11b5-4107-b8c5-8c60939db63c,male,रोमान्चक बनेको खेलमा बुलबुलेले आर्मीलाई विस-पच...
1,60e2d964552fd6002e30b901,4UO9IETvAMYKoPU5GhL4DRjqb5rNgF1FpAKkyXQ9v/c=,744f492e-8e7f-4a1e-a13e-d65a0f0716c4,male,आईसीसी महिला टी-ट्वेन्टी विश्वकपको एसिया छनोट ...
2,61ab150e7526df002f75e921,3upRZGf2oFJMajP1LMVx5vNAMKY+PdM+rIdTvmQHUus=,cfea7257-9d98-481b-a4b2-aa8da3132cca,female,आईसीसी महिला टी-ट्वेन्टी विश्वकपको एसिया छनोट ...
3,60e2d958552fd6002e30b8fe,zcRQLjrvRyhg0PDjjhxlGJ1PoM7deRWnvlx08Ja1Wl4=,95ccf7f4-b198-4623-bcf8-45deb7f914e7,male,कार्यक्रममा राष्ट्रिय क्रिकेट टोलीका सदस्यहरुम...
4,60e2d98b552fd6002e30b903,4UO9IETvAMYKoPU5GhL4DRjqb5rNgF1FpAKkyXQ9v/c=,1ad1149b-be62-4099-8356-0e7c5f892374,male,तर त्यसपछि म रियल मड्रिडका लागि धेरै राम्रो गर...

In [5]:
df.shape[0]

710

In [6]:
list_of_symbol_removed_sentence = []
for i in range(0, df.shape[0]):
    list_of_symbol_removed_sentence.append(replaceCharacters(df.iloc[i,4]))

In [8]:
df["sentence"] = list_of_symbol_removed_sentence

In [9]:
df.head()

,_id,userId,fileName,gender,devnagariSentence,sentence
0,60e2d811552fd6002e30b8fd,L5WMnUqwFRlZUFg48A4DRu9dYwP9srB5s2cqsA/rDZg=,dd42d217-11b5-4107-b8c5-8c60939db63c,male,रोमान्चक बनेको खेलमा बुलबुलेले आर्मीलाई विस-पच...,रोमान्चक बनेको खेलमा बुलबुलेले आर्मीलाई विस पच...
1,60e2d964552fd6002e30b901,4UO9IETvAMYKoPU5GhL4DRjqb5rNgF1FpAKkyXQ9v/c=,744f492e-8e7f-4a1e-a13e-d65a0f0716c4,male,आईसीसी महिला टी-ट्वेन्टी विश्वकपको एसिया छनोट ...,आईसीसी महिला टी ट्वेन्टी विश्वकपको एसिया छनोट ...
2,61ab150e7526df002f75e921,3upRZGf2oFJMajP1LMVx5vNAMKY+PdM+rIdTvmQHUus=,cfea7257-9d98-481b-a4b2-aa8da3132cca,female,आईसीसी महिला टी-ट्वेन्टी विश्वकपको एसिया छनोट ...,आईसीसी महिला टी ट्वेन्टी विश्वकपको एसिया छनोट ...
3,60e2d958552fd6002e30b8fe,zcRQLjrvRyhg0PDjjhxlGJ1PoM7deRWnvlx08Ja1Wl4=,95ccf7f4-b198-4623-bcf8-45deb7f914e7,male,कार्यक्रममा राष्ट्रिय क्रिकेट टोलीका सदस्यहरुम...,कार्यक्रममा राष्ट्रिय क्रिकेट टोलीका सदस्यहरुम...
4,60e2d98b552fd6002e30b903,4UO9IETvAMYKoPU5GhL4DRjqb5rNgF1FpAKkyXQ9v/c=,1ad1149b-be62-4099-8356-0e7c5f892374,male,तर त्यसपछि म रियल मड्रिडका लागि धेरै राम्रो गर...,तर त्यसपछि म रियल मड्रिडका लागि धेरै राम्रो गर...

In [10]:
df.drop(labels='devnagariSentence', axis=1, inplace=True)

In [11]:
df.head()

,_id,userId,fileName,gender,sentence
0,60e2d811552fd6002e30b8fd,L5WMnUqwFRlZUFg48A4DRu9dYwP9srB5s2cqsA/rDZg=,dd42d217-11b5-4107-b8c5-8c60939db63c,male,रोमान्चक बनेको खेलमा बुलबुलेले आर्मीलाई विस पच...
1,60e2d964552fd6002e30b901,4UO9IETvAMYKoPU5GhL4DRjqb5rNgF1FpAKkyXQ9v/c=,744f492e-8e7f-4a1e-a13e-d65a0f0716c4,male,आईसीसी महिला टी ट्वेन्टी विश्वकपको एसिया छनोट ...
2,61ab150e7526df002f75e921,3upRZGf2oFJMajP1LMVx5vNAMKY+PdM+rIdTvmQHUus=,cfea7257-9d98-481b-a4b2-aa8da3132cca,female,आईसीसी महिला टी ट्वेन्टी विश्वकपको एसिया छनोट ...
3,60e2d958552fd6002e30b8fe,zcRQLjrvRyhg0PDjjhxlGJ1PoM7deRWnvlx08Ja1Wl4=,95ccf7f4-b198-4623-bcf8-45deb7f914e7,male,कार्यक्रममा राष्ट्रिय क्रिकेट टोलीका सदस्यहरुम...
4,60e2d98b552fd6002e30b903,4UO9IETvAMYKoPU5GhL4DRjqb5rNgF1FpAKkyXQ9v/c=,1ad1149b-be62-4099-8356-0e7c5f892374,male,तर त्यसपछि म रियल मड्रिडका लागि धेरै राम्रो गर...

In [12]:
df.to_csv('./labels/final_fixed.csv', index=False)